<header>
    <nav class="navbar">
        <div class="logo">
            <a href="/">AniMark</a>
        </div>
        <div class="search-box">
            <form action="/search" method="get">
                <input type="text" id="search-bar" name="query" placeholder="Search Anime...">
                <button id="search-btn" type="submit">Search</button>
            </form>
        </div>

        <div class="nav-items">
            <a href="/">Home</a>
            <a href="/watchlist">Watchlist</a>
            <a href="/markedAnime">Marked</a>
            <a href="/ongoingAnime">Ongoing</a>
        </div>

        <div class="profile-icon">
            <div class="profile nav-item">
                <a href="/profile" class="dropbtn">
                    <img src="<%= dbProfileImage %>" alt="profile">
                </a>
            </div>
        </div>
    </nav>
</header>