<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ongoing Anime</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <h1>Ongoing Anime</h1>
        <ul id="ongoingAnime"></ul>
    </main>
    <%- include('partials/footer') %>
    <script src="/js/ongoingAnime.js"></script>
</body>
</html>
