body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: orange;
    padding: 1rem 0;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.navi-btn {
    background-color: white;
    color: orange;
    border: 2px solid orange;
    padding: 8px 5px;
    width: 100px;
    cursor: pointer;
    border-radius: 20px;
    margin: 10px;
}

.logo a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.search-box form {
    display: flex;
    align-items: center;
}

.search-box input[type="text"] {
    padding: 0.5rem;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 40rem;
}

.search-box button {
    background-color: white;
    color: orange;
    border: none;
    padding: 0.5rem;
    border-radius: 0 7px 7px 0;
    cursor: pointer;
}

.search-box button:hover {
    color: white;
    background-color: #ff7f00;
}

.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
}

.profile-icon {
    display: flex;
    align-items: center;
}

.profile-icon img {
    cursor: pointer;
}

.navigation {
    border: 2px solid firebrick;
    display: flex;
    flex-direction: row;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.nav-items {
    /* border: 2px solid rebeccapurple; */
    width: 20rem;
    display: flex;
}

.nav-items a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin: auto;
}

.nav-item {
    margin: 0 1rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: orange;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ff7f00;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn img {
    border-color: #ff7f00;
}

.dropbtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}



/* footer code starts */

.footer {
    background: orange;
    color: white;
    padding: 30px 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.footer-logo,
.footer-links,
.footer-social,
.footer-newsletter {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer h2,
.footer h3 {
    margin-bottom: 15px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 8px;
}

.footer ul li a {
    color: white;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.footer-newsletter input {
    width: 80%;
    padding: 8px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
}

.footer-newsletter button {
    background: white;
    color: orange;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
}

/* footer code ends */

/* login Page */
/* From Uiverse.io by Yaya12085 */
.form-container {
    width: 320px;
    border-radius: 0.75rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
}

.title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.form {
    margin-top: 1.5rem;
}

.input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
}

.input-group input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
    border-color: rgba(167, 139, 250);
}

.forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
    margin: 8px 0 14px 0;
}

.forgot a,
.signup a {
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
    font-size: 14px;
}

.forgot a:hover,
.signup a:hover {
    text-decoration: underline rgba(167, 139, 250, 1);
}

.sign {
    display: block;
    width: 100%;
    background-color: rgba(167, 139, 250, 1);
    padding: 0.75rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
}

.social-message {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.line {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(156, 163, 175, 1);
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons .icon {
    border-radius: 0.125rem;
    padding: 0.75rem;
    border: none;
    background-color: transparent;
    margin-left: 8px;
}

.social-icons .icon svg {
    height: 1.25rem;
    width: 1.25rem;
    fill: #fff;
}

.signup {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
}

/* login end   */


/*Anime Card*/
.anime-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    cursor: pointer;
}

.anime-card {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 250px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.anime-card:hover {
    transform: scale(1.05);
}

.anime-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.anime-details {
    padding: 1rem;
}

.anime-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.anime-rating,
.anime-genres,
.anime-status {
    font-size: 0.9rem;
    margin: 0.25rem 0;
}


/*anime details*/

.anime-details-container {
    display: flex;
    gap: 2rem;
    padding: 2rem;
}

.anime-details-left {
    width: 40%;
}

.anime-cover {
    width: 100%;
    height: auto;
    max-height: 60%;
    object-fit: cover;
}

.anime-info {
    margin-top: 1rem;
}

.anime-details-right {
    width: 60%;
}

.episodes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.episode-btn {
    border: 2px solid orange;
    color: orange;
    background-color: white;
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    cursor: pointer;
    border-radius: 5px;
  }

  .episode-btn.watched {
    background-color: orange;
    color: white;
  }


.episode-btn:hover {
    background-color: #ff7f00;
}

.hollow-button {
    border: 2px solid orange;
    color: orange;
    background-color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
